# Verification

Verify that it is correctly installed.

<instruqt-task id="verify_terraform"></instruqt-task>