# Verification

Verify that it is correctly installed.